<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>664359338316-s6in19mai30i8lfdttbdr04bo8boo110.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.664359338316-s6in19mai30i8lfdttbdr04bo8boo110</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>664359338316-3328acshnd97s1ck5orka1erlr2lnu1p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBSgb8DkPk79VYsRk23hKxIzSnCzh-1Yac</string>
	<key>GCM_SENDER_ID</key>
	<string>664359338316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smartix.smart</string>
	<key>PROJECT_ID</key>
	<string>moviename-46914</string>
	<key>STORAGE_BUCKET</key>
	<string>moviename-46914.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664359338316:ios:3d65570d3ecb7568a90fe9</string>
	<key>DATABASE_URL</key>
	<string>https://moviename-46914.firebaseio.com</string>
</dict>
</plist>